/* header */
/* top */
.header_top{
    padding:11px 0px 9px 0px;
}

.btn{
    width: 25px;
    height: 25px;
    float:left;
    margin:0 10px;
}

.search_form{
    max-width: 290px;
    width: 100%;
}

.search_form button{
    border:1px solid #fff;
    max-width: 36px;
    width: 100%;
    padding:7px 8px;
    color: #d4d4d4;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

/* 36px : witdh of button
   5px : margin-left
*/
.search_form input{
    width: calc(100% - 44px);
    margin-right: 4px;
    padding:7px 0px 7px 6px;
}

/* Chrome, Opera, Safari */
::-webkit-input-placeholder {
    color: #d4d4d4;
  }
  
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: #d4d4d4;
  }
  
  /* IE 10+ */
  :-ms-input-placeholder {
    color: #d4d4d4;
  }
  
  /* Firefox 18- */
  :-moz-placeholder {
    color: #d4d4d4;
  }
/* bot */
.header_bot{
    padding:15px 0px;
   
}

.text_logo{
    padding:6px 0px 4px 0px;

}

.text_logo strong{
    display: block;
    font-size:36px; 
}

.nav_link{
    margin-bottom: 19px;
}

.nav_link ul li{
    float:left;
    padding:19px 15px 15px 15px;
    margin:0px 7px 0px 8px;
}

.nav_link ul li:first-child{
    margin-left:0px;
}

.nav_link ul li:last-child{
    margin-right:0px;
}

.text_logo ul li a{
    display: block;
    font-size: 14px;
    color:#666 !important;
}

/* article */
/* top */
.ametorci_top{
    margin-bottom: 30px;
}

.ametorci{
    max-width:590px;
    width: 100%;
    margin-right: 68px;
}

.logo_580_190{
    padding:4px;
    display: block;
    width: 590px;
    height: 200px;
}

.indonectetus{
    width:calc(100% - 590px - 68px);
}

.indonectetus a{
    width: calc((100% - 30px) / 3);
    height:90px;
    margin:0px 7px 0px 8px;
    padding:4px;
    border: 1px solid #ddd;
    background-color: #eee;
    display: block;
    float: left;
}

.pic_80{
    margin-bottom:15px; 
}

.indonectetus a:first-child{
    margin-left:0px; 
}

.indonectetus a:last-child{
    margin-right:0px; 
}

.indonectetus img{
    width: 80px;
    height: 80px;
}

/* bot */
.ametorci_bot_content{
    width: calc((100% - 30px) / 2);
    float:left;
    margin: 0px 15px;
}

.ametorci_bot_content:first-child{
    margin-left: 0px;
}

.ametorci_bot_content:last-child{
    margin-right: 0px;
}


/* footer */
.footer_bot{
    padding:15px 0px;
}

.footer_bot span{
    color: #525252;
}