/* header */

/* top */
.hearder_top nav{
    padding:10px 0px 8px 0px;
}

.hearder_top ul li a{
    color:#f4e9d5;
}

.hearder_top ul li{
    color:#f4e9d5;
    padding:0px 7px;
    float:left;
    border-left: 1px solid #f4e9d5;
}

.hearder_top ul li:first-child{
    padding-left:0px;
    border-left: none;
}

.hearder_top ul li:last-child{
    padding-right: 0px;
}

/* bot */
.header_bot {
    padding:39px 0px 41px 2px;
}

.header_bot h1{
    max-width: 178px;
    width:100%; 
}

.header_bot h1 strong{
    font-size: 42px;
    color: #333;
}

.header_bot nav{
    padding: 27px 0px 19px 0px;
}

.header_bot ul li{
    float:left;
    margin: 0px 32px 0px 32px;
}

.header_bot ul li a:hover  {
    text-decoration: underline;
    color:#255a84
}

.header_bot ul li:first-child{
    margin-left: 0px;
}

.header_bot ul li:last-child{
    margin-right: 0px;
}

/* banner */
.banner{
    padding: 39px 0;
    margin-bottom:41px;
}

.arrow_left{
    max-width: 260px;
    width: 100%;
    margin-right: 5px;
}

.arrow_left li{
    display: block;
    background: url('../images/arrow_head.png') no-repeat center center transparent;
    width: 41px;
    height: 40px;
    float: left;
    margin: 51px 9px 43px 8px;
}

.arrow_left li:first-child{
    margin-left: 51px;
}

.arrow_left li:last-child{
    margin-right: 51px;
}

.logo{
    width: calc((100% - 265px));
}

.logo_135{
    float:left;
    margin: 0px 2px 0px 3px;
}

.logo_135:first-child{
    margin-left: 0px;
}

.logo_135:last-child{
    margin-right: 0px;
}

/* article */
.article_left{
    padding-bottom: 33px;
    max-width: 630px;
    width: 100%;
    margin-right: 15px;
}

.article_left_top{
    margin-bottom:30px; 
}

.indonectetus{
    float: left;
    margin: 0px 15px;
    width: 300px;
}

.indonectetus:first-child{
    margin-left: 0px;
}

.indonectetus:last-child{
    margin-right: 0px;
}

.title{
    font-size: 20px;
    color:#333;
    padding-bottom: 16px;
    margin-bottom: 19px;
}

.description{
    line-height: 1.2;
    padding-bottom: 18px;
}

.title_about{
    font-size: 18px;
    padding: 0px 0px 17px 0px;
    margin: 0px 0px 20px 0px;
}

.about p{
    padding-bottom: 18px;
    line-height: 1.2;
}

.news {
    width: calc((100% - 660px));
    margin-left:15px;
}

.new_item{
    padding-bottom: 16px;
    margin-bottom:20px;
}
.new_img{
    padding:5px;
    width: 90px;
    height: 90px;
}

.new_img img{
    width: 100%;
    height: 100%;
}

.new_detail{
    vertical-align: middle;
    padding-left:5px; 
}

.new_detail .title_detail{
    font-weight: bold;
    padding-bottom: 6px;
}

.new_detail .content_detail{
    padding-bottom: 6px;
}

.new_detail a{
    color: white;
    padding: 8px 10px 7px 6px;
    float: right;
}

/* footer */

.footer_top{
    padding:30px 0px 29px 0px; 
}

.info{
    max-width:calc((100% - 60px) / 5 ) ;
    width: 100%;
    float: left;
    margin: 0px 7px 0px 8px;
}

.info:first-child{
    margin-left: 0px;
}

.info:last-child{
    margin-right: 0px;
}

.title_info{
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.info ul li{
    padding-bottom: 4px;
}

.info ul li:last-child{
    padding-bottom: 0px;
}

.info ul li a{
    color:#3a6988
}

/* footer_bot */
.footer_bot{
    padding:15px 0px 13px 0px;
}